[[ define "manifest_upsert" ]]
[[ range $i, $externalResource := .ExternalResources ]]
    [[- if $.IsAppImage ]]
        [[- if $.WorkaroundSemanticVersionPrereleaseHack1 ]]
              if ! g2 manifest upsert-from-url "[[ if $.CustomDownloadUrl -]]
                  [[- $.CustomDownloadUrl | actionvardoublequoted -]]
              [[- else -]]
                  [[- if $.DownloadPipeline -]]
                      ${resolved_download_urls["[[ $i ]]"]}
                  [[- else -]]
                      [[- if $.DownloadBaseUrl -]]
                          [[- $.DownloadBaseUrl | actionvardoublequoted -]]
                      [[- else -]]
                          [[- "https://github.com/${{ env.github_owner }}/${{ env.github_repo }}/releases/download/${tag}/" -]]
                      [[- end -]]
                      [[- if $externalResource.ReleaseFilename -]]
                          [[- $externalResource.ReleaseFilename | formatReleaseFilenameForUrl $.WorkaroundSemanticVersionPrereleaseHack1 -]]
                      [[- else -]]
                          [[- $i | formatReleaseFilenameForUrl $.WorkaroundSemanticVersionPrereleaseHack1 -]]
                      [[- end -]]
                  [[- end -]]
              [[- end ]]" "${{ env.epn }}-${version}-[[ if $externalResource.ReleaseFilename ]][[ $externalResource.ReleaseFilename | actionvardoublequoted ]][[ else ]][[ $i | actionvardoublequoted ]][[ end ]]" "${ebuild_dir}/Manifest"; then failed=1; fi
        [[- else ]]
              if ! g2 manifest upsert-from-url "[[ if $.CustomDownloadUrl -]]
                  [[- $.CustomDownloadUrl | actionvardoublequoted -]]
              [[- else -]]
                  [[- if $.DownloadPipeline -]]
                      ${resolved_download_urls["[[ $i ]]"]}
                  [[- else -]]
                      [[- if $.DownloadBaseUrl -]]
                          [[- $.DownloadBaseUrl | actionvardoublequoted -]]
                      [[- else -]]
                          [[- "https://github.com/${{ env.github_owner }}/${{ env.github_repo }}/releases/download/${tag}/" -]]
                      [[- end -]]
                      [[- if $externalResource.ReleaseFilename -]]
                          [[- $externalResource.ReleaseFilename | formatReleaseFilenameForUrl $.WorkaroundSemanticVersionPrereleaseHack1 -]]
                      [[- else -]]
                          [[- $i | formatReleaseFilenameForUrl $.WorkaroundSemanticVersionPrereleaseHack1 -]]
                      [[- end -]]
                  [[- end -]]
              [[- end ]]" "${{ env.epn }}-${version}-[[ if $externalResource.ReleaseFilename ]][[ $externalResource.ReleaseFilename | actionvardoublequoted ]][[ else ]][[ $i | actionvardoublequoted ]][[ end ]]" "${ebuild_dir}/Manifest"; then failed=1; fi
        [[- end ]]
    [[- else ]]
        [[- if $.WorkaroundSemanticVersionPrereleaseHack1 ]]
              if ! g2 manifest upsert-from-url "[[ if $.CustomDownloadUrl -]]
                  [[- $.CustomDownloadUrl | actionvardoublequoted -]]
              [[- else -]]
                  [[- if $.DownloadPipeline -]]
                      ${resolved_download_urls["[[ $i ]]"]}
                  [[- else -]]
                      [[- if $.DownloadBaseUrl -]]
                          [[- $.DownloadBaseUrl | actionvardoublequoted -]]
                      [[- else -]]
                          [[- "https://github.com/${{ env.github_owner }}/${{ env.github_repo }}/releases/download/${tag}/" -]]
                      [[- end -]]
                      [[- $externalResource.ReleaseFilename | formatReleaseFilenameForUrl $.WorkaroundSemanticVersionPrereleaseHack1 -]]
                  [[- end -]]
              [[- end ]]" "${{ env.epn }}-${version}-[[ $externalResource.ReleaseFilename | actionvardoublequoted ]]" "${ebuild_dir}/Manifest"; then failed=1; fi
        [[- else ]]
              if ! g2 manifest upsert-from-url "[[ if $.CustomDownloadUrl -]]
                  [[- $.CustomDownloadUrl | actionvardoublequoted -]]
              [[- else -]]
                  [[- if $.DownloadPipeline -]]
                      ${resolved_download_urls["[[ $i ]]"]}
                  [[- else -]]
                      [[- if $.DownloadBaseUrl -]]
                          [[- $.DownloadBaseUrl | actionvardoublequoted -]]
                      [[- else -]]
                          [[- "https://github.com/${{ env.github_owner }}/${{ env.github_repo }}/releases/download/${tag}/" -]]
                      [[- end -]]
                      [[- $externalResource.ReleaseFilename | formatReleaseFilenameForUrl $.WorkaroundSemanticVersionPrereleaseHack1 -]]
                  [[- end -]]
              [[- end ]]" "${{ env.epn }}-${version}-[[ $externalResource.ReleaseFilename | actionvardoublequoted ]]" "${ebuild_dir}/Manifest"; then failed=1; fi
        [[- end ]]
    [[- end ]]
[[ end ]]
[[ end ]]