[[ define "manifest_upsert" ]]
[[ range $i, $externalResource := .ExternalResources ]]
    [[- if $.IsAppImage ]]
        [[- if $.WorkaroundSemanticVersionPrereleaseHack1 ]]
              if ! g2 manifest upsert-from-url "[[ if $.CustomDownloadUrl -]]
                  [[- $.CustomDownloadUrl | actionvardoublequoted -]]
              [[- else -]]
                  [[- if $.HasDownloadPipeline -]]
                      ${download_url}
                  [[- else if $.DownloadBaseUrl -]]
                      [[- $.DownloadBaseUrl | actionvardoublequoted -]]
                      [[- if $externalResource.ReleaseFilename -]]
                          [[- $externalResource.ReleaseFilename | ebuildvardoublequotedSemanticVersionPrereleaseHack1 | replace "\\${PV}" "${originalVersion}" | replace "\\${P}" "${{ env.epn }}-${originalVersion}" -]]
                      [[- else -]]
                          [[- $i | ebuildvardoublequotedSemanticVersionPrereleaseHack1 | replace "\\${PV}" "${originalVersion}" | replace "\\${P}" "${{ env.epn }}-${originalVersion}" -]]
                      [[- end -]]
                  [[- else -]]
                      [[- "https://github.com/${{ env.github_owner }}/${{ env.github_repo }}/releases/download/${tag}/" -]]
                      [[- if $externalResource.ReleaseFilename -]]
                          [[- $externalResource.ReleaseFilename | ebuildvardoublequotedSemanticVersionPrereleaseHack1 | replace "\\${PV}" "${originalVersion}" | replace "\\${P}" "${{ env.epn }}-${originalVersion}" -]]
                      [[- else -]]
                          [[- $i | ebuildvardoublequotedSemanticVersionPrereleaseHack1 | replace "\\${PV}" "${originalVersion}" | replace "\\${P}" "${{ env.epn }}-${originalVersion}" -]]
                      [[- end -]]
                  [[- end -]]
              [[- end ]]" "${{ env.epn }}-${version}-[[ if $externalResource.ReleaseFilename ]][[ $externalResource.ReleaseFilename | actionvardoublequoted ]][[ else ]][[ $i | actionvardoublequoted ]][[ end ]]" "${ebuild_dir}/Manifest"; then failed=1; fi
        [[- else ]]
              if ! g2 manifest upsert-from-url "[[ if $.CustomDownloadUrl -]]
                  [[- $.CustomDownloadUrl | actionvardoublequoted -]]
              [[- else -]]
                  [[- if $.HasDownloadPipeline -]]
                      ${download_url}
                  [[- else if $.DownloadBaseUrl -]]
                      [[- $.DownloadBaseUrl | actionvardoublequoted -]]
                      [[- if not $.HasDownloadPipeline -]]
                          [[- if $externalResource.ReleaseFilename -]]
                              [[- $externalResource.ReleaseFilename | actionvardoublequoted | replace "${version}" "${originalVersion}" -]]
                          [[- else -]]
                              [[- $i | actionvardoublequoted | replace "${version}" "${originalVersion}" -]]
                          [[- end -]]
                      [[- end -]]
                  [[- else -]]
                      [[- "https://github.com/${{ env.github_owner }}/${{ env.github_repo }}/releases/download/${tag}/" -]]
                      [[- if not $.HasDownloadPipeline -]]
                          [[- if $externalResource.ReleaseFilename -]]
                              [[- $externalResource.ReleaseFilename | actionvardoublequoted | replace "${version}" "${originalVersion}" -]]
                          [[- else -]]
                              [[- $i | actionvardoublequoted | replace "${version}" "${originalVersion}" -]]
                          [[- end -]]
                      [[- end -]]
                  [[- end -]]
              [[- end ]]" "${{ env.epn }}-${version}-[[ if $externalResource.ReleaseFilename ]][[ $externalResource.ReleaseFilename | actionvardoublequoted ]][[ else ]][[ $i | actionvardoublequoted ]][[ end ]]" "${ebuild_dir}/Manifest"; then failed=1; fi
        [[- end ]]
    [[- else ]]
        [[- if $.WorkaroundSemanticVersionPrereleaseHack1 ]]
              if ! g2 manifest upsert-from-url "[[ if $.CustomDownloadUrl -]]
                  [[- $.CustomDownloadUrl | actionvardoublequoted -]]
              [[- else -]]
                  [[- if $.HasDownloadPipeline -]]
                      ${download_url}
                  [[- else if $.DownloadBaseUrl -]]
                      [[- $.DownloadBaseUrl | actionvardoublequoted -]]
                  [[- else -]]
                      [[- "https://github.com/${{ env.github_owner }}/${{ env.github_repo }}/releases/download/${tag}/" -]]
                  [[- end -]]
                  [[- $externalResource.ReleaseFilename | ebuildvardoublequotedSemanticVersionPrereleaseHack1 | replace "\\${PV}" "${originalVersion}" | replace "\\${P}" "${{ env.epn }}-${originalVersion}" -]]
              [[- end ]]" "${{ env.epn }}-${version}-[[ $externalResource.ReleaseFilename | actionvardoublequoted ]]" "${ebuild_dir}/Manifest"; then failed=1; fi
        [[- else ]]
              if ! g2 manifest upsert-from-url "[[ if $.CustomDownloadUrl -]]
                  [[- $.CustomDownloadUrl | actionvardoublequoted -]]
              [[- else -]]
                  [[- if $.HasDownloadPipeline -]]
                      ${download_url}
                  [[- else if $.DownloadBaseUrl -]]
                      [[- $.DownloadBaseUrl | actionvardoublequoted -]]
                  [[- else -]]
                      [[- "https://github.com/${{ env.github_owner }}/${{ env.github_repo }}/releases/download/${tag}/" -]]
                  [[- end -]]
                  [[- if not $.HasDownloadPipeline -]]
                      [[- $externalResource.ReleaseFilename | actionvardoublequoted | replace "${version}" "${originalVersion}" -]]
                  [[- end -]]
              [[- end ]]" "${{ env.epn }}-${version}-[[ $externalResource.ReleaseFilename | actionvardoublequoted ]]" "${ebuild_dir}/Manifest"; then failed=1; fi
        [[- end ]]
    [[- end ]]
[[ end ]]
[[ end ]]