[[ define "src_uri" ]]
                echo 'SRC_URI="'
[[- range $i, $externalResource := .ExternalResources ]]
    [[- if $.IsAppImage ]]
        [[- if $.WorkaroundSemanticVersionPrereleaseHack1 ]]
                echo "  [[ $externalResource.Keyword ]]? ( [[ if $.CustomDownloadUrl -]]
                    [[- $.CustomDownloadUrl | ebuildvardoublequoted -]]
                [[- else -]]
                    [[- if $.DownloadPipeline -]]
                        ${resolved_download_urls["[[ $i ]]"]}
                    [[- else -]]
                        [[- if $.DownloadBaseUrl -]]
                            [[- $.DownloadBaseUrl | ebuildvardoublequoted -]]
                        [[- else -]]
                            [[- "https://github.com/${{ env.github_owner }}/${{ env.github_repo }}/releases/download/${tag}/" -]]
                        [[- end -]]
                        [[- if $externalResource.ReleaseFilename -]]
                            [[- $externalResource.ReleaseFilename | ebuildvardoublequotedSemanticVersionPrereleaseHack1 | replace "\\${PV}" "${originalVersion}" -]]
                        [[- else -]]
                            [[- $i | ebuildvardoublequotedSemanticVersionPrereleaseHack1 | replace "\\${PV}" "${originalVersion}" -]]
                        [[- end -]]
                    [[- end -]]
                [[- end ]] -> \${P}-[[ if $externalResource.ReleaseFilename ]][[ $externalResource.ReleaseFilename | ebuildvardoublequoted ]][[ else ]][[ $i | ebuildvardoublequoted ]][[ end ]] )"
        [[- else ]]
                echo "  [[ $externalResource.Keyword ]]? ( [[ if $.CustomDownloadUrl -]]
                    [[- $.CustomDownloadUrl | ebuildvardoublequoted -]]
                [[- else -]]
                    [[- if $.DownloadPipeline -]]
                        ${resolved_download_urls["[[ $i ]]"]}
                    [[- else -]]
                        [[- if $.DownloadBaseUrl -]]
                            [[- $.DownloadBaseUrl | ebuildvardoublequoted -]]
                        [[- else -]]
                            [[- "https://github.com/${{ env.github_owner }}/${{ env.github_repo }}/releases/download/${tag}/" -]]
                        [[- end -]]
                        [[- if $externalResource.ReleaseFilename -]]
                            [[- $externalResource.ReleaseFilename | ebuildvardoublequoted | replace "\\${PV}" "${originalVersion}" -]]
                        [[- else -]]
                            [[- $i | ebuildvardoublequoted | replace "\\${PV}" "${originalVersion}" -]]
                        [[- end -]]
                    [[- end -]]
                [[- end ]] -> \${P}-[[ if $externalResource.ReleaseFilename ]][[ $externalResource.ReleaseFilename | ebuildvardoublequoted ]][[ else ]][[ $i | ebuildvardoublequoted ]][[ end ]] )"
        [[- end ]]
    [[- else ]]
        [[- if $.WorkaroundSemanticVersionPrereleaseHack1 ]]
                echo "	[[range $j, $uf := .MustHaveUseFlags]][[ $uf | UseFlagSafe ]]? ( [[end]][[range $j, $uf := .MustntHaveUseFlags]]![[ $uf | UseFlagSafe ]]? ( [[end]] [[ if $.CustomDownloadUrl -]]
                    [[- $.CustomDownloadUrl | ebuildvardoublequoted -]]
                [[- else -]]
                    [[- if $.DownloadPipeline -]]
                        ${resolved_download_urls["[[ $i ]]"]}
                    [[- else -]]
                        [[- if $.DownloadBaseUrl -]]
                            [[- $.DownloadBaseUrl | ebuildvardoublequoted -]]
                        [[- else -]]
                            [[- "https://github.com/${{ env.github_owner }}/${{ env.github_repo }}/releases/download/${tag}/" -]]
                        [[- end -]]
                        [[- $externalResource.ReleaseFilename | ebuildvardoublequotedSemanticVersionPrereleaseHack1 | replace "\\${PV}" "${originalVersion}" -]]
                    [[- end -]]
                [[- end ]] -> \${P}-[[ $externalResource.ReleaseFilename  | ebuildvardoublequoted ]] [[range $j, $uf := .MustHaveUseFlags]] ) [[end]][[range $j, $uf := .MustntHaveUseFlags]] ) [[ end ]] "
        [[- else ]]
                echo "	[[range $j, $uf := .MustHaveUseFlags]][[ $uf | UseFlagSafe ]]? ( [[end]][[range $j, $uf := .MustntHaveUseFlags]]![[ $uf | UseFlagSafe ]]? ( [[end]] [[ if $.CustomDownloadUrl -]]
                    [[- $.CustomDownloadUrl | ebuildvardoublequoted -]]
                [[- else -]]
                    [[- if $.DownloadPipeline -]]
                        ${resolved_download_urls["[[ $i ]]"]}
                    [[- else -]]
                        [[- if $.DownloadBaseUrl -]]
                            [[- $.DownloadBaseUrl | ebuildvardoublequoted -]]
                        [[- else -]]
                            [[- "https://github.com/${{ env.github_owner }}/${{ env.github_repo }}/releases/download/${tag}/" -]]
                        [[- end -]]
                        [[- $externalResource.ReleaseFilename | ebuildvardoublequoted | replace "\\${PV}" "${originalVersion}" -]]
                    [[- end -]]
                [[- end ]] -> \${P}-[[ $externalResource.ReleaseFilename  | ebuildvardoublequoted ]] [[range $j, $uf := .MustHaveUseFlags]] ) [[end]][[range $j, $uf := .MustntHaveUseFlags]] ) [[ end ]] "
        [[- end ]]
    [[- end ]]
[[ end ]]
                echo '"'
[[ end ]]