[[ define "src_uri" ]]
                src_uri_val=""
[[- range $i, $externalResource := .ExternalResources ]]
    [[- if $.IsAppImage ]]
        [[- if $.WorkaroundSemanticVersionPrereleaseHack1 ]]
                src_uri_val+=" [[ $externalResource.Keyword ]]? ( "
                src_uri_val+=" [[ if $.CustomDownloadUrl -]]
                    [[- $.CustomDownloadUrl | ebuildvardoublequoted -]]
                [[- else -]]
                    [[- if $.DownloadPipeline -]]
                        ${resolved_download_urls["[[ $i ]]"]}
                    [[- else -]]
                        [[- if $.DownloadBaseUrl -]]
                            [[- $.DownloadBaseUrl | ebuildvardoublequoted -]]
                        [[- else -]]
                            [[- "https://github.com/${{ env.github_owner }}/${{ env.github_repo }}/releases/download/${tag}/" -]]
                        [[- end -]]
                        [[- if $externalResource.ReleaseFilename -]]
                            [[- $externalResource.ReleaseFilename | formatReleaseFilenameForUrl $.WorkaroundSemanticVersionPrereleaseHack1 -]]
                        [[- else -]]
                            [[- $i | formatReleaseFilenameForUrl $.WorkaroundSemanticVersionPrereleaseHack1 -]]
                        [[- end -]]
                    [[- end -]]
                [[- end ]] "
                src_uri_val+=" -> \${P}-[[ if $externalResource.ReleaseFilename ]][[ $externalResource.ReleaseFilename | ebuildvardoublequoted ]][[ else ]][[ $i | ebuildvardoublequoted ]][[ end ]] ) "
        [[- else ]]
                src_uri_val+=" [[ $externalResource.Keyword ]]? ( "
                src_uri_val+=" [[ if $.CustomDownloadUrl -]]
                    [[- $.CustomDownloadUrl | ebuildvardoublequoted -]]
                [[- else -]]
                    [[- if $.DownloadPipeline -]]
                        ${resolved_download_urls["[[ $i ]]"]}
                    [[- else -]]
                        [[- if $.DownloadBaseUrl -]]
                            [[- $.DownloadBaseUrl | ebuildvardoublequoted -]]
                        [[- else -]]
                            [[- "https://github.com/${{ env.github_owner }}/${{ env.github_repo }}/releases/download/${tag}/" -]]
                        [[- end -]]
                        [[- if $externalResource.ReleaseFilename -]]
                            [[- $externalResource.ReleaseFilename | formatReleaseFilenameForUrl $.WorkaroundSemanticVersionPrereleaseHack1 -]]
                        [[- else -]]
                            [[- $i | formatReleaseFilenameForUrl $.WorkaroundSemanticVersionPrereleaseHack1 -]]
                        [[- end -]]
                    [[- end -]]
                [[- end ]] "
                src_uri_val+=" -> \${P}-[[ if $externalResource.ReleaseFilename ]][[ $externalResource.ReleaseFilename | ebuildvardoublequoted ]][[ else ]][[ $i | ebuildvardoublequoted ]][[ end ]] ) "
        [[- end ]]
    [[- else ]]
        [[- if $.WorkaroundSemanticVersionPrereleaseHack1 ]]
                src_uri_val+=" [[range $j, $uf := .MustHaveUseFlags]][[ $uf | UseFlagSafe ]]? ( [[end]][[range $j, $uf := .MustntHaveUseFlags]]![[ $uf | UseFlagSafe ]]? ( [[end]] "
                src_uri_val+=" [[ if $.CustomDownloadUrl -]]
                    [[- $.CustomDownloadUrl | ebuildvardoublequoted -]]
                [[- else -]]
                    [[- if $.DownloadPipeline -]]
                        ${resolved_download_urls["[[ $i ]]"]}
                    [[- else -]]
                        [[- if $.DownloadBaseUrl -]]
                            [[- $.DownloadBaseUrl | ebuildvardoublequoted -]]
                        [[- else -]]
                            [[- "https://github.com/${{ env.github_owner }}/${{ env.github_repo }}/releases/download/${tag}/" -]]
                        [[- end -]]
                        [[- $externalResource.ReleaseFilename | formatReleaseFilenameForUrl $.WorkaroundSemanticVersionPrereleaseHack1 -]]
                    [[- end -]]
                [[- end ]] "
                src_uri_val+=" -> \${P}-[[ $externalResource.ReleaseFilename  | ebuildvardoublequoted ]] [[range $j, $uf := .MustHaveUseFlags]] ) [[end]][[range $j, $uf := .MustntHaveUseFlags]] ) [[ end ]] "
        [[- else ]]
                src_uri_val+=" [[range $j, $uf := .MustHaveUseFlags]][[ $uf | UseFlagSafe ]]? ( [[end]][[range $j, $uf := .MustntHaveUseFlags]]![[ $uf | UseFlagSafe ]]? ( [[end]] "
                src_uri_val+=" [[ if $.CustomDownloadUrl -]]
                    [[- $.CustomDownloadUrl | ebuildvardoublequoted -]]
                [[- else -]]
                    [[- if $.DownloadPipeline -]]
                        ${resolved_download_urls["[[ $i ]]"]}
                    [[- else -]]
                        [[- if $.DownloadBaseUrl -]]
                            [[- $.DownloadBaseUrl | ebuildvardoublequoted -]]
                        [[- else -]]
                            [[- "https://github.com/${{ env.github_owner }}/${{ env.github_repo }}/releases/download/${tag}/" -]]
                        [[- end -]]
                        [[- $externalResource.ReleaseFilename | formatReleaseFilenameForUrl $.WorkaroundSemanticVersionPrereleaseHack1 -]]
                    [[- end -]]
                [[- end ]] "
                src_uri_val+=" -> \${P}-[[ $externalResource.ReleaseFilename  | ebuildvardoublequoted ]] [[range $j, $uf := .MustHaveUseFlags]] ) [[end]][[range $j, $uf := .MustntHaveUseFlags]] ) [[ end ]] "
        [[- end ]]
    [[- end ]]
[[ end ]]
                emit_metadata_field "SRC_URI" "$src_uri_val"
[[ end ]]