# Generated using: https://github.com/arran4/arrans_overlay_workflow_builder [[.Version]] [[.Type]] [[.ConfigFile]] [[.Now]]

name: [[ .WorkflowName ]]

permissions:
  contents: write

on:
  schedule:
    - cron: '[[ .Cron ]]'
  workflow_dispatch:
  push:
    paths:
      - '.github/workflows/[[ .WorkflowFileName ]]'

env:
  ecn: [[ .Category ]]
  epn: [[ .PackageName ]]
  description: [[ .Description | quoteStr ]]
  keywords: [[ .MaskedKeywords ]]
  workflow_filename: [[ .WorkflowFileName ]]
  [[- range $pname, $prog := .Programs ]]
  [[- if $prog.HasDesktopFile ]]
  [[ join (filterEmpty $pname "desktop_file" ) "_" ]]: '[[ $prog.DesktopFile ]]'
  [[- end ]]
  [[ join (filterEmpty $pname "appimage_installed_name" ) "_" ]]: '[[ $prog.InstalledFilename ]]'
  [[- end ]]

jobs:
  fetch-latest:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v7

      - name: Set up Git
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'

      - name: Install required tools
        run: |
          sudo apt-get update
          sudo apt-get install -y wget jq coreutils
          [[- if not .DownloadRedirect ]]
          curl -sfL https://github.com/mgdm/htmlq/releases/download/v0.4.0/htmlq-x86_64-linux.tar.gz | sudo tar xz -C /usr/local/bin htmlq
          [[- end ]]

      - name: Install g2
        uses: arran4/g2-action@v1.2

      - name: Determine latest AppImage
        id: find_appimage
        run: |
          set -euo pipefail
          [[- if .DownloadRedirect ]]
          appimage_url="$(curl -sIL -o /dev/null -w '%{url_effective}' '[[ .DownloadRedirect ]]')"
          [[- else ]]
          source_url="$(curl -sL '[[ .DownloadPageUrl ]]' | htmlq -a href 'a' | grep -iE '[[ if .DownloadMatch ]][[ .DownloadMatch ]][[ else ]]\.AppImage$[[ end ]]' | sort -V | tail -n1)"
          if [ -z "$source_url" ]; then
            echo "failed to find AppImage link" >&2
            exit 1
          fi
          appimage_url="$(curl -sIL -o /dev/null -w '%{url_effective}' "$source_url")"
          [[- end ]]
          if [ -z "$appimage_url" ]; then
            echo "failed to resolve AppImage redirect" >&2
            exit 1
          fi
          fname="$(basename "$appimage_url")"
          artifact_ext="${fname##*.}"
          if [ -z "$artifact_ext" ] || [ "$artifact_ext" = "$fname" ]; then
            echo "unable to determine artifact extension from $fname" >&2
            exit 1
          fi
          base_name="${fname%.*}"
          version="${base_name##*-}"
          echo "appimage_url=$appimage_url" >> "$GITHUB_ENV"
          echo "appimage_extension=$artifact_ext" >> "$GITHUB_ENV"
          echo "version=$version" >> "$GITHUB_ENV"

      - name: Update ebuild
        run: |
          ebuild_dir="./${{ env.ecn }}/${{ env.epn }}"
          mkdir -p "$ebuild_dir"
          metadata_file="${ebuild_dir}/metadata.xml"
          g2 metadata [[ .G2MetadataArgs ]] "$metadata_file"
          tmp_ebuild_file="${ebuild_dir}/${{ env.epn }}-${version}.ebuild.tmp"
            # shellcheck disable=SC2016
            {
              echo '# Generated via: https://github.com/arran4/arrans_overlay/blob/main/.github/workflows/${{ env.workflow_filename }}'
              echo 'EAPI=8'
              echo "DESCRIPTION=\"${{ env.description }}\""
              echo 'HOMEPAGE="[[ .Homepage ]]"'
              echo 'LICENSE="[[ .License ]]"'
              echo 'SLOT="0"'
              echo 'KEYWORDS="${{ env.keywords }}"'
              echo 'IUSE=""'
              echo 'DEPEND=""'
              echo 'RDEPEND="sys-fs/fuse:0[[range $i, $dep := .Dependencies]] [[$dep]][[end]]"'
              echo 'S="${WORKDIR}"'
              echo 'RESTRICT="strip"'
              echo "SRC_URI=\"${appimage_url} -> \\${P}.${appimage_extension}\""
[[ if .HasDesktopFile ]]
              echo ''
              echo 'inherit xdg-utils'
[[ end ]]
              echo ''
              echo 'src_install() {'
              echo '  cp "${DISTDIR}/${P}.${appimage_extension}" "${P}.${appimage_extension}" || die "Failed to copy AppImage"'
              echo '  chmod a+x "${P}.${appimage_extension}" || die "Can'"'"'t chmod archive file"'
[[ range $pname, $prog := .Programs ]]
[[ if $prog.HasDesktopFile ]]
              echo '  "./${P}.${appimage_extension}" --appimage-extract "${{ env.[[ join (filterEmpty $pname "desktop_file" ) "_" ]] }}" || die "Failed to extract .desktop from appimage"'
[[ end ]]
[[ range $i, $icon := $prog.Icons ]]
[[ if eq $icon "hicolor-apps" ]]
              echo '  "./${P}.${appimage_extension}" --appimage-extract "usr/share/icons" || die "Failed to extract hicolor icons from app image"'
[[ else if eq $icon "pixmaps" ]]
              echo '  "./${P}.${appimage_extension}" --appimage-extract "usr/share/pixmaps" || die "Failed to extract pixmaps icons from app image"'
[[ else if eq $icon "root" ]]
              echo '  "./${P}.${appimage_extension}" --appimage-extract "*.png" || die "Failed to extract root icons from app image"'
[[ end ]]
[[ end ]]
[[ end ]]
              echo '  exeinto /opt/bin'
[[ range $pname, $prog := .Programs ]]
              echo '  newexe "${P}.${appimage_extension}" "${{ env.[[ join (filterEmpty $pname "appimage_installed_name" ) "_" ]] }}" || die "Failed to install AppImage"'
[[ end ]]
[[ if .HasDesktopFile ]]
              echo '  insinto /usr/share/applications'
[[ range $pname, $prog := .Programs ]]
              echo '  doins "squashfs-root/${{ env.[[ join (filterEmpty $pname "desktop_file" ) "_" ]] }}" || die "Failed to install desktop file"'
[[ end ]]
[[ end ]]
[[ range $pname, $prog := .Programs ]]
[[ range $i, $icon := $prog.Icons ]]
[[ if eq $icon "hicolor-apps" ]]
              echo '  insinto /usr/share/icons'
              echo '  doins -r squashfs-root/usr/share/icons/hicolor || die "Failed to install icons"'
[[ else if eq $icon "pixmaps" ]]
              echo '  insinto /usr/share/pixmaps'
              echo '  doins squashfs-root/usr/share/pixmaps/*.png || die "Failed to install icons"'
[[ else if eq $icon "root" ]]
              echo '  insinto /usr/share/pixmaps'
              echo '  doins squashfs-root/*.png || die "Failed to install icons"'
[[ end ]]
[[ end ]]
[[ end ]]
              echo '}'
[[ if .HasDesktopFile ]]
              echo ''
              echo 'pkg_postinst() {'
              echo '  xdg_desktop_database_update'
              echo '}'
[[ end ]]
            } > "$tmp_ebuild_file"

              next_ebuild_file=$(g2 ebuild next-revision "${ebuild_dir}/${{ env.epn }}-${version}" -inspect "$tmp_ebuild_file")
              if [ $? -eq 0 ]; then
                  echo "Content changed or new version for $version. Writing $next_ebuild_file"
                  mv "$tmp_ebuild_file" "$next_ebuild_file"
                  ebuild_file="$next_ebuild_file"
              else
[[- if $.WorkaroundCheckAssetSize ]]
                  highest_rev_ebuild=$(find "${ebuild_dir}" -maxdepth 1 \( -name "${{ env.epn }}-${version}.ebuild" -o -name "${{ env.epn }}-${version}-r*.ebuild" \) 2>/dev/null | sort -V | tail -n 1)
                  highest_rev_file=$(basename "$highest_rev_ebuild")
                  highest_rev_p="${highest_rev_file%.ebuild}"
                  remote_size=$(curl -sL --head "$appimage_url" | grep -i 'content-length' | awk '{print $2}' | tr -d '\r')
                  local_distfile="${highest_rev_p}.${appimage_extension}"
                  local_size=$(grep "DIST $local_distfile " "${ebuild_dir}/Manifest" | awk '{print $3}')
                  if [ -n "$remote_size" ] && [ -n "$local_size" ] && [ "$remote_size" != "$local_size" ]; then
                      echo "Size mismatch for ${version}: remote $remote_size, local $local_size. RC bumping."
                      if [[ "[[" ]] "$highest_rev_file" =~ -r([0-9]+)\.ebuild$ [[ "]]" ]]; then
                          current_rev="${BASH_REMATCH[1]}"
                          next_rev=$((current_rev + 1))
                          revision_suffix="-r${next_rev}"
                      else
                          revision_suffix="-r1"
                      fi
                      ebuild_file="${ebuild_dir}/${{ env.epn }}-${version}${revision_suffix}.ebuild"
                      mv "$highest_rev_ebuild" "$ebuild_file"
                      rm -f "$tmp_ebuild_file"
                  else
                      echo "Matches existing ebuild. Skipping."
                      rm -f "$tmp_ebuild_file"
                      exit 0
                  fi
[[- else ]]
                  echo "Matches existing ebuild. Skipping."
                  rm -f "$tmp_ebuild_file"
                  exit 0
[[- end ]]
              fi

            g2 manifest upsert-from-url "$appimage_url" "${{ env.epn }}-${version}.${appimage_extension}" "${ebuild_dir}/Manifest"
            echo "generated_tag=${version}" >> $GITHUB_OUTPUT
          fi

      - name: Generate Overlay
        run: |
          mkdir -p profiles
          echo "overlay_name" > profiles/repo_name
          echo "8" > profiles/eapi

      - name: Lint output
        uses: arran4/g2-action@v1.2
        with:
          mode: 'run'
          action: 'lint . ${{ env.ecn }}/${{ env.epn }}'

      - name: Commit and push changes
        run: |
          ebuild_dir="./${{ env.ecn }}/${{ env.epn }}"
          mkdir -p profiles; [ ! -f profiles/repo_name ] && echo "${{ env.github_repo }}" > profiles/repo_name; [ ! -f profiles/eapi ] && echo "8" > profiles/eapi; g2 cache generate "${{ env.ecn }}/${{ env.epn }}"
          git add "${ebuild_dir}"
          git add metadata/md5-cache/ || true
          if git commit -m "Add ebuild for version ${version}"; then
            git pull --rebase &&
            git push
          fi || true
        if: steps.find_appimage.outputs.version
